<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{template :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exemplo de um diagrama de atividades</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<main>
    <h1 class="title is-1">
        Diagrama Gerado:
        <div class="column is-half" style="margin-right: auto; margin-left: auto; width: 50%">
            <figure class="image is-4by3">
                <img alt="Imagem será gerada aqui" th:src="${image}" class="custom-image" />
            </figure>
        </div>
    </h1>
</main>
</body>
</html>