<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{template :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
<main>
    <p class="title">Formulario</p>
    <h1>Insira as informações para o Diagrama</h1>
    <hr>
    <textarea rows="4" cols="50"></textarea>
    <br>
    <button type="submit">Enviar</button>
</main>
</body>
</html>