<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{template :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<main class="section">
    <div class="container">
        <h1 class="title is-1">Bem-vindo ao Gerador de Diagramas de Atividades</h1>
        <div class="columns">
            <div class="column is-two-thirds has-background-grey-dark">
                <div class="box">
                    <h2 class="title is-4 has-text-white">O que é o Gerador de Diagramas de Atividades?</h2>
                    <p>O gerador de diagrama de atividades é um projeto que visa gerar um diagrama de atividades com
                        base nas informações dadas ao usuário.</p>
                </div>
            </div>
            <div class="column has-background-primary">
                <div class="box">
                    <h2 class="title is-4 has-text-white">Vamos Começar?</h2>
                    <p>Insira as informações na página de formulário para gerar o diagrama ou olhe um exemplo na página
                        de Exemplo de Diagrama de Atividades.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <h2 class="title is-4 has-text-white">Como funciona o Gerador de Diagrama de Atividades?</h2>
            <p>O Gerador de Diagrama de Atividades primeiramente recebe as informações do usuário pelo site descritas
                por ele, depois as informações são recebidas em um banco de dados, que envia para uma inteligência
                artificial que envia de volta para o banco de dados o código para gerar o Diagrama. O banco de dados
                depois envia o código para o programa Plant UML que gera o diagrama.</p>
        </div>
    </div>
</main>
</body>
</html>
